body{
    background-color:#2B2B2B;
    margin: 0;

}

a{
    text-decoration: none;
}
.clearfix::after{
    content: '';
    display: block;
    clear: both;
}

.topNavBar{
    margin: 20px 16px 20px 16px;
}

.topNavBar .logo{
    font-family:"Hiragino Kaku Gothic Std";
    font-size: 30px;
    float: left;
    padding-top: 1px;
    font-weight: bold;



}

.topNavBar .logo .Henry{
    color: #e6686a;
    margin-right: 3px;


}
.topNavBar .logo .Dong{
    color: #9a9da2;
}

.topNavBar nav{
    float: right;
    padding-top: 8px;
    padding-bottom: 8px;
}
.topNavBar nav>ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.topNavBar nav>ul>li{
    float: left;
    margin-left: 17px;
    margin-right: 17px;
}

.topNavBar nav>ul>li>a{
    text-decoration: none;
    font-size: 15px;
    color: #B7B7B7;
    font-weight: bold;
    border-bottom: 3px solid transparent;
    padding: 8px 0 8px 0;
    display: block;

}

.topNavBar nav>ul>li>a:hover{
    border-bottom: 3px solid #DC6465;
}