body{
    background-color:#EFEFEF;
    margin: 0;

}
h1,h2,h3,h4,h5,h6{
    font-weight: normal;
}

a{
    text-decoration: none;
}
*{
    margin: 0;
    padding: 0;

}

ol,ul{
    list-style: none;
}

hr{
    height: 0;
    border:none;
    border-top: 1px solid #DEDEDE;

}
.clearfix::after{
    content: '';
    display: block;
    clear: both;
}

.topNavBar{
    padding: 20px 0 20px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: all 1s;
    color: #B7B7B7;


}

.topNavBar.sticky{
    background: #fff;
    padding: 10px 0;
    color: #3C3F41;
    z-index: 1;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.topNavBar-inner{
    padding: 0 16px;
}
.topNavBar .logo{
    font-family:"Hiragino Kaku Gothic Std";
    font-size: 22px;
    float: left;
    padding-top: 8px;
    font-weight: bold;



}

.topNavBar .logo .Henry{
    color: #e6686a;
    margin-right: 3px;


}
.topNavBar .logo .Dong{
    color: #9a9da2;
}

.topNavBar nav{
    float: right;
    font-size: 15px;
    padding-top: 8px;
    padding-bottom: 8px;

}
.topNavBar nav>ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.topNavBar nav>ul>li{
    float: left;
    margin-left: 17px;
    margin-right: 17px;
    position: relative;
}

.topNavBar nav>ul>li>a{
    text-decoration: none;
    color: inherit;

    font-weight: bold;
    border-bottom: 3px solid transparent;
    padding: 8px 0 8px 0;
    display: block;
    position: relative;

}

.topNavBar nav>ul>li.active>a::after{
    content: '';
    display: block;
    position: absolute;
    background: #DC6465;
    width: 100%;
    top: 100%;
    height: 3px;
    left: 0;
    animation: menuSlide 0.5s;

}

@keyframes menuSlide {
    0%{
        width: 0;
    }
    100%{
        width: 100%;
    }

}

.topNavBar .subMenu{
    display: none;
    position: absolute;
    right: 0;
    top: 100%;
    background: #fff;
    color: #3d4451;
    box-shadow: 0 0 5px rgba(0,0,0,0.8);

}

.topNavBar li.active> .subMenu{
    display: block;
    animation: subMenuSlide .8s;
}
@keyframes subMenuSlide {
    0%{
        margin-right: 100%;
        opacity: 0.1;
    }
    100%{
        margin-right: 0%;
        opacity: 1;
    }


}

.topNavBar .subMenu>li{
    white-space: nowrap;
    padding: 5px 10px;
}

.banner{
    background-image: url(./img/banner.png);
    background-size: cover;
    background-position: center  center;
    height: 600px;




}
.banner .mask{
    background-color: rgba(0,0,0,0.65);
    height: 600px;
 
}

.userCard{

    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.53);
}
.userCard .welcome{
    background: #E6686A;
    color: white;
    display: inline-block;
    padding: 4px 15px;
    line-height: 22px;
    position: relative;
    margin-bottom: 10px;
}
.userCard .welcome .triiangle{
    display: block;
    border: 10px solid transparent;
    width: 0px;
    border-left-color: #E6686A;
    border-top-width: 0px;
    position: absolute;
    left: 5px;
    top: 100%;

}

.userCard .picture{
    float: left;
}

.userCard .text{
    float: left;
    margin-left: 65px;
    width: 470px;
}

.userCard .text h1{
    margin-top: 18px;
}

.userCard .pictureAndText{
    padding: 50px;
}

.userCard .text p{
    margin-top: 8px;
}

.userCard .text hr{
    margin: 20px 0;
}

.userCard dl dt,
.userCard dl dd{
    float: left;
    padding: 5px 0;
}
.userCard dl dt{
    width: 30%;
    font-weight: bold;
}

.userCard dl dd{
    width: 70%;
    color: #3C3F41;
}

.userCard > footer.media{
    background: #e6686a;
    text-align: center;
}

.userCard > footer.media>a{
    display: inline-block;
    width: 40px;
    line-height: 30px;
    padding: 5px 0;
    border-radius: 50%;
    margin: 16px;
}

.userCard > footer.media>a:hover{
    background: #CF5D5F;

}

.userCard svg{
    width: 30px;
    height: 30px;
    fill: #fff;
    vertical-align: top;
}

body > main{
    margin-top: -380px;
}
body > main .downloadResume{
    border: 1px #CDCFD1 solid;
    font-size: 14px;
    line-height: 16px;
    padding: 21px 55px;
    display: inline-block;
    background: #EFEFEF;
    border-radius: 2px;
    color: #3d4451;
    font-weight: bold;
    margin: 32px 0;
    transition: box-shadow  0.3s

}
body > main .downloadResume-wrapper{
    text-align: center;
}
body > main .downloadResume:hover{
    box-shadow: 0px 4px 13px 0px rgba(0,0,0,0.4);
}

.selfIntroduction{
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 22px;
    font-family: 楷体;



    line-height: 1.8


}

section.skills,
section.portfolio{
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
}

section.skills >h2,
section.portfolio >h2{
    color: #3d4451;
    font-size: 34px;
    line-height: 1.2;
    font-weight: 600;
    text-align: center;

}
section.skills >h3{
    font-size: 14px;
    line-height: 1.1;
    padding-right: 40px;

}

section.skills > ol{
    background: #ffffff;
    box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.53);
    padding: 42px 50px 10px  ;
    margin-top: 30px;
}

section.skills > ol > li{
    float: left;
    width: 48%;
    box-sizing: border-box;


}
section.skills > ol > li:nth-child(even){
    float: right;
}

section.skills .progressBar{
    height: 5px;
    background: #FAE1E1;
    border-right: 3px;
    margin: 4px 0 40px;
}

section.skills .progressBar .progress{
    height: 100%;
    background: #e6686a;
    width: 70%;
    border-right: 3px;
}
section.portfolio{
    text-align: center;
    margin-bottom: 100px;
}

section.portfolio > nav{

    display: inline-block;
    vertical-align: top;
    margin-top: 32px;
}

section.portfolio > nav > ol{
    display: inline-block;
    vertical-align: top;
    margin: 0 auto;

}

section.portfolio > nav > ol >li{
    float: left;
    margin-left: 40px;
    cursor: pointer;
}
section.portfolio > nav > ol >li:nth-child(1){
    margin-left: 0px;
}

section.portfolio > nav .bar{

    height: 5px;
    background: #ffffff;
    margin-top: 5px;
    margin-bottom: 28px;
    border-right: 2px;

}
section.portfolio > nav .bar-inner{
    height: 100%;
    background: #E6586A;
    border-right: 2px;
    transition: all 0.4s ;
}
section.portfolio > nav .bar.state-1 .bar-inner{
    margin-left: 0px;
    width: 50px;
}

section.portfolio > nav .bar.state-2 .bar-inner{
    margin-left: 65px;
    width: 50px;
}

section.portfolio > nav .bar.state-3 .bar-inner{
    margin-left: 140px;
    width: 96px;
}

section.portfolio .works{
    position: relative;


}

section.portfolio .works > .big,
section.portfolio .works > .small{
    position: absolute;
}
